a {
  color:inherit;
  text-decoration: underline;
}
body {
  margin: auto;
  background-color: coral;
  
}
.square{
    margin:auto;
    width: 600px;
    height: 100%;
    Background-color: #fff;
    border: 20px solid white;
}
bg  {
  background-image: url("bg1.gif");
  background-repeat: repeat;
}
nolinkimg{
  -webkit-filter: grayscale(100%) blur(1px);
  filter: grayscale(100%) blur(1px);
}
blue {
  color: blue;
  font-family: courier;
  font-size: 100%;
}
green {
  color: green;
  font-family: courier;
  font-size: 100%;
}
red {
  color: red;
  font-family: courier;
  font-size: 100%;
}
purple {
  color: purple;
  font-family: courier;
  font-size: 100%;
}
black  {
  color: black;
  font-family: courier;
  font-size: 90%;
  font-style: italic;
}
footer {
  color: black;
  font-family: helvetica;
  font-size: 50%;
  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

}